<%- include('partials/header', {title: title}) %>
<main class="container">
    <%- include('partials/errors') %>
    <form action="/messages/new" METHOD="post">
        <h1>Create a new Message</h1>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="<%= locals.message ? message.title : '' %>">
        <label for="message">Message:</label>
        <textarea name="message" id="message" cols="30" rows="10"><%= locals.message ? message.message : '' %></textarea>
        <input type="submit" value="Add Message">
    </form>
</main>
<%- include('partials/footer') %>